services:
  _defaults:
    autowire:      true
    autoconfigure: true
    public:        true
    bind:
      $pumukitInfo: "%pumukit.info%"
      $recordingSeriesTitle: '%pumukit_lms.recording_series_title%'
      $uploadSeriesTitle: '%pumukit_lms.upload_series_title%'
      $locales: '%pumukit.locales%'

  Pumukit\LmsBundle\Controller\:
    resource: '../../Controller/'
    tags: ['controller.service_arguments']

  Pumukit\LmsBundle\Controller\SearchController:
    class: Pumukit\LmsBundle\Controller\SearchController
    arguments:
      $menuSearchTitle: '%menu.search_title%'
      $columnsObjsSearch: '%columns_objs_search%'
      $pumukitNewAdminLicenses: '%pumukit_new_admin.licenses%'
      $limitObjsSearch: '%limit_objs_search%'
    tags: ['controller.service_arguments']

  Pumukit\LmsBundle\Command\:
    resource: '../../Command/'
    tags: ['console.command']

  Pumukit\LmsBundle\Command\LmsInitResourcesCommand:
    class: Pumukit\LmsBundle\Command\LmsInitResourcesCommand
    arguments:
      $rootPath: '%kernel.project_dir%'
    tags: ['console.command']

  Pumukit\LmsBundle\Services\ConfigurationService:
    class: Pumukit\LmsBundle\Services\ConfigurationService
    arguments:
       $allowCreateUsersFromRequest: '%pumukit_lms.allow_create_users_from_request%'
       $password: '%pumukit_lms.password%'
       $role: '%pumukit_lms.role%'
       $nakedBackofficeDomain: '%pumukit_lms.naked_backoffice_domain%'
       $nakedBackofficeBackground: '%pumukit_lms.naked_backoffice_background%'
       $nakedBackofficeColor: '%pumukit_lms.naked_backoffice_color%'
       $nakedCustomCssUrl: '%pumukit_lms.naked_custom_css_url%'
       $domainsPatterns: '%pumukit_lms.domains%'

  Pumukit\LmsBundle\Services\LmsService:
    class: Pumukit\LmsBundle\Services\LmsService

  Pumukit\LmsBundle\Services\MultimediaObjectVoter:
    class: Pumukit\LmsBundle\Services\MultimediaObjectVoter
    tags:
      - { name: "security.voter" }

  Pumukit\LmsBundle\Services\SSOService:
    class: Pumukit\LmsBundle\Services\SSOService

  Pumukit\LmsBundle\EventListener\PersonalRecorderEventListener:
    class: Pumukit\LmsBundle\EventListener\PersonalRecorderEventListener
    tags:
      - { name: "kernel.event_listener", event: "personalrecorder.create", method: "postCreateMultimediaObject" }

  Pumukit\LmsBundle\EventListener\WizardEventListener:
    class: Pumukit\LmsBundle\EventListener\WizardEventListener
    tags:
      - { name: "kernel.event_listener", event: "wizard.form.submit", method: "postCreateMultimediaObject" }

  Pumukit\LmsBundle\EventListener\FilterListener:
    class: Pumukit\LmsBundle\EventListener\FilterListener
    tags:
      - { name: "kernel.event_listener", event: "kernel.request" }
