{% extends 'base.html.twig' %}

{% block title %}
    Bienvenido a nuestra herramienta LTI
{% endblock %}

{% block body %}
    <h1>Bienvenido {{ username }}!</h1>

    <p>Te has unido como un usuario con el siguiente rol: {{ role | join(', ') }}</p>

    <p>Estás actualmente en el curso: {{ courseName }}</p>
{% endblock %}
