{% extends '@PumukitLms/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: white !important;
        }
        i.fa {
            display: inline-block;
            background-color: orange;
            border-radius: 60px;
            box-shadow: 0 0 2px #888;
            padding: 0.5em 0.6em;
            margin-left: 1em;

        }
        .options {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }
        .option {
            text-align: center;
            cursor: pointer;
        }
        .option i {
            font-size: 40px;
            color: #444;
        }
        .option p {
            margin-top: 5px;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body_base %}
    <div class="row">
        <div class="col-md-12">
            <h2>Select PuMuKIT content</h2>
        </div>
        <hr />
{#        <div class="col-xs-4">#}
{#            <p class="text-center">Upload</p>#}
{#            <i class="fa fa-2x fa-upload"></i>#}
{#            <p>Upload new videos</p>#}
{#        </div>#}

{#        <div class="col-xs-4 text-center">#}
{#            <p class="text-center">Record</p>#}
{#            <i class="fa fa-2x fa-video"></i>#}
{#            <p>Record video to upload</p>#}
{#        </div>#}

{#        <div class="col-xs-4 text-center">#}
{#            <p class="text-center">Search</p>#}
{#            <i class="fa fa-2x fa-search"></i>#}
{#            <p>Search videos from your content</p>#}
{#        </div>#}
        <div class="options">
            <div class="option" id="upload">
                <i class="fas fa-upload"></i>
                <p>Upload</p>
            </div>
            <div class="option" id="webcam">
                <i class="fas fa-video"></i>
                <p>Webcam</p>
            </div>
            <div class="option" id="search">
                <i class="fas fa-search"></i>
                <p>Search</p>
            </div>
            <div class="option" id="analytics">
                <i class="fas fa-chart-line"></i>
                <p>Analytics</p>
            </div>
        </div>
    </div>
{% endblock %}
