<style type="text/css">
    .text-center {
        text-align:center;
    }
    .img_not_found_pr h1 {
        margin-top:40px;
    }
    .img_not_found_pr img {
        max-width:475px
    }
</style>

<div class="img_not_found_pr">
    <h1 class="text-center">
        {% trans %}Personal Recorder not available{% endtrans %}
    </h1>

    <div class="text-center img-not-found-pr">
        <img src="{{ asset('bundles/pumukitlms/images/pr-screenshoot.png') }}" />
    </div>

    <h2 class="text-center">
        {% trans %}If you want to enjoy the Galicaster Personal Recorder, please keep in touch with your support{% endtrans %}
    </h2>


</div>